# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / editor
.vscode/
.idea/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log